body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

#wrapper {
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    width: 250px;
    background-color: #343a40;
    transition: all 0.3s;
}

#wrapper.toggled #sidebar-wrapper {
    width: 70px;
}

#sidebar-wrapper .sidebar-heading {
    padding: 1rem;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#sidebar-wrapper .list-group {
    width: 100%;
}

#sidebar-wrapper .list-group-item {
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #343a40;
}

#sidebar-wrapper .list-group-item:hover {
    background-color: #495057;
}

#sidebar-wrapper .list-group-item.active {
    background-color: #007bff;
    border-color: #007bff;
}

#sidebar-wrapper .list-group-item i {
    margin-right: 10px;
}

#page-content-wrapper {
    flex: 1;
    padding: 20px;
    overflow-x: hidden;
}

#wrapper.toggled #page-content-wrapper {
    margin-left: 70px;
}

@media (max-width: 768px) {
    #sidebar-wrapper {
        width: 70px;
    }

    #page-content-wrapper {
        margin-left: 70px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #page-content-wrapper {
        margin-left: 250px;
    }
}

.sidebar-heading img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.list-group-item .menu-text {
    display: inline;
}

#wrapper.toggled .list-group-item .menu-text {
    display: none;
}

#wrapper.toggled .list-group-item i {
    margin-right: 0;
}

#wrapper.toggled .sidebar-heading {
    justify-content: center;
}

#wrapper.toggled .sidebar-heading img {
    margin-bottom: 0;
}

.list-group-item i {
    transition: all 0.3s;
}

#wrapper.toggled .list-group-item i {
    margin-right: 0;
}

.list-group-item {
    display: flex;
    align-items: center;
}

.list-group-item i {
    width: 25px;
    text-align: center;
}

.toast {
    max-width: 350px;
    margin: 0 auto;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-container {
    position: relative;
    margin: 10px;
    display: inline-block;
}

.image-container img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    background: #f8f9fa;
}

.delete-image-btn {
    position: absolute;
    top: 5px;
    left: 10px;
    border: none;
    background: transparent;
    color: red;
    cursor: pointer;
    font-size: 24px;
    opacity: 0.7;
    transition: color 0.3s, transform 0.3s;
}

.delete-image-btn:hover, .delete-image-btn:focus {
    color: darkred;
    transform: scale(1.1);
    opacity: 1;
}
