<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">
      <img src="{{ url_for('static', filename='logo1.png') }}" alt="San Andrés" width="40" height="30">
      <span class="ml-2">San Andrés</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <form class="form-inline my-2 my-lg-0 mx-auto position-relative">
        <div class="input-group">
          <input type="text" id="search" placeholder="Buscar actividades..." class="form-control pl-10 pr-4 py-2 rounded-md" style="width: 400px;">
          <div id="suggestions" class="suggestions-container"></div>
        </div>
      </form>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.index') }}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.actividades') }}">Actividades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.recomendaciones') }}">Recomendaciones</a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> {{ current_user.nombre }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenuLink">
            <a class="dropdown-item" href="{{ url_for('main.profile') }}">Perfil</a>
            <a class="dropdown-item" href="{{ url_for('main.preferencias') }}">Preferencias</a>
            <a class="dropdown-item" href="{{ url_for('main.logout') }}">Cerrar sesión</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{{ url_for('main.login') }}" class="btn btn-outline-dark ml-3">Iniciar sesión</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const searchInput = document.getElementById('search');
    const suggestionsContainer = document.getElementById('suggestions');

    searchInput.addEventListener('input', function() {
        const query = this.value.trim();

        if (query.length > 1) {
            fetch(`/buscar?q=${query}`)
                .then(response => response.json())
                .then(data => {
                    suggestionsContainer.innerHTML = '';
                    if (data.length > 0) {
                        suggestionsContainer.style.display = 'block';
                        data.forEach(item => {
                            const suggestionItem = document.createElement('div');
                            suggestionItem.className = 'suggestion-item';

                            const textContainer = document.createElement('div');
                            textContainer.className = 'text-container';

                            const suggestionText = document.createElement('div');
                            suggestionText.className = 'suggestion-text';
                            suggestionText.textContent = item.nombre;

                            const suggestionSubtext = document.createElement('div');
                            suggestionSubtext.className = 'suggestion-subtext';
                            suggestionSubtext.textContent = item.descripcion ? item.descripcion.slice(0, 50) + '...' : '';

                            textContainer.appendChild(suggestionText);
                            textContainer.appendChild(suggestionSubtext);

                            suggestionItem.appendChild(textContainer);
                            suggestionItem.addEventListener('click', () => {
                                window.location.href = `/actividad/${item.id}`;
                            });

                            suggestionsContainer.appendChild(suggestionItem);
                        });
                    } else {
                        suggestionsContainer.style.display = 'none';
                    }
                })
                .catch(error => {
                    console.error('Error fetching search results:', error);
                    suggestionsContainer.style.display = 'none';
                });
        } else {
            suggestionsContainer.style.display = 'none';
        }
    });

    document.addEventListener('click', (event) => {
        if (!suggestionsContainer.contains(event.target) && !searchInput.contains(event.target)) {
            suggestionsContainer.style.display = 'none';
        }
    });
});
</script>
