{% extends "base.html" %}

{% block title %}Detalles de la Actividad{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <!-- Carousel para imágenes de la actividad -->
            {% if actividad.imagenes %}
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for imagen in actividad.imagenes %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" class="{% if loop.first %}active{% endif %}"></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner rounded-lg shadow-sm">
                        {% for imagen in actividad.imagenes %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <img src="{{ url_for('main.get_actividad_image', id=imagen.id) }}" class="d-block w-100 rounded-lg object-cover" alt="Imagen de {{ actividad.nombre }}">
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            {% else %}
                <img src="https://via.placeholder.com/800x400" class="img-fluid rounded-lg object-cover shadow-sm" alt="Sin imagen disponible">
            {% endif %}
        </div>
        <div class="col-md-4">
            <h1 class="display-4">{{ actividad.nombre }}</h1>
            <p class="lead">Desde ${{ actividad.precio_referencial }}</p>
            <p>{{ actividad.descripcion }}</p>
            <div class="d-flex flex-column">
                <div class="d-flex flex-row mb-2">
                    <span class="font-weight-bold">Tipo de Viaje:</span>
                    <span class="ml-2">{{ actividad.categoria.nombre }}</span>
                </div>
                <div class="d-flex flex-row mb-2">
                    <span class="font-weight-bold">Nivel de Dificultad:</span>
                    <span class="ml-2">{{ actividad.nivel_dificultad }}</span>
                </div>
                <div class="d-flex flex-row mb-2">
                    <span class="font-weight-bold">Época Recomendada:</span>
                    <span class="ml-2">{{ actividad.epoca_recomendada }}</span>
                </div>
                <div class="d-flex flex-row mb-2">
                    <span class="font-weight-bold">Requiere Guía:</span>
                    <span class="ml-2">{{ actividad.requerimiento_guia }}</span>
                </div>
            </div>
            {% if current_user.is_authenticated %}
                <!-- Botón para abrir el modal -->
                <button type="button" class="btn btn-primary btn-lg btn-block mt-3" data-toggle="modal" data-target="#registerVisitModal" data-actividad-id="{{ actividad.id }}" data-actividad-nombre="{{ actividad.nombre }}">Registrar visita</button>
            {% else %}
                <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg btn-block mt-3">Iniciar sesión para registrar visita</a>
            {% endif %}
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <ul class="nav nav-tabs custom-nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="descripcion-tab" data-toggle="tab" href="#descripcion" role="tab" aria-controls="descripcion" aria-selected="true">Descripción General</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="itinerario-tab" data-toggle="tab" href="#itinerario" role="tab" aria-controls="itinerario" aria-selected="false">Itinerario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="equipamiento-tab" data-toggle="tab" href="#equipamiento" role="tab" aria-controls="equipamiento" aria-selected="false">Equipamiento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="ubicacion-tab" data-toggle="tab" href="#ubicacion" role="tab" aria-controls="ubicacion" aria-selected="false">Ubicación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="galeria-tab" data-toggle="tab" href="#galeria" role="tab" aria-controls="galeria" aria-selected="false">Galería</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="faq-tab" data-toggle="tab" href="#faq" role="tab" aria-controls="faq" aria-selected="false">Preguntas Frecuentes</a>
                </li>
            </ul>
            <div class="tab-content bg-light p-4 rounded-lg shadow-sm" id="myTabContent">
                <div class="tab-pane fade show active" id="descripcion" role="tabpanel" aria-labelledby="descripcion-tab">
                    <p><strong>Nivel fisico requerido:</strong> {{ actividad.nivel_fisico_requerido }}</p>
                    <p><strong>Duración:</strong> {{ actividad.tiempo_promedio_duracion }}</p>
                    <p><strong>Temperatura:</strong> {{ actividad.temperatura_minima}} ºC - {{ actividad.temperatura_maxima}} ºC</p>
                </div>
                <div class="tab-pane fade" id="itinerario" role="tabpanel" aria-labelledby="itinerario-tab">
                    <h3>Itinerario de la Actividad</h3>
                    <ul>
                        <li><strong>Día 1:</strong>
                            <ul>
                                <li>08:00 AM - Salida desde el punto de encuentro.</li>
                                <li>10:00 AM - Llegada al destino y breve descanso.</li>
                                <li>10:30 AM - Inicio de la caminata hacia el primer mirador.</li>
                                <li>01:00 PM - Almuerzo en el camino.</li>
                                <li>02:00 PM - Continuación de la caminata hacia la cima.</li>
                                <li>05:00 PM - Llegada al campamento y montaje de tiendas.</li>
                                <li>07:00 PM - Cena y tiempo libre para actividades grupales.</li>
                            </ul>
                        </li>
                        <li><strong>Día 2:</strong>
                            <ul>
                                <li>06:00 AM - Desayuno y preparación para el descenso.</li>
                                <li>08:00 AM - Inicio del descenso.</li>
                                <li>12:00 PM - Almuerzo en el camino de regreso.</li>
                                <li>03:00 PM - Llegada al punto de partida y cierre de la actividad.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="equipamiento" role="tabpanel" aria-labelledby="equipamiento-tab">
                    {% set equipamiento = actividad.descripcion_equipamiento.split('.') %}
                    <ul>
                        {% for item in equipamiento %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane fade" id="ubicacion" role="tabpanel" aria-labelledby="ubicacion-tab">
                    <p><strong>Ubicación:</strong> {{ actividad.sitio }}</p>
                    <p><strong>Inicio:</strong> {{ actividad.lugar_partida }}</p>
                    <p><strong>Destino:</strong> {{ actividad.lugar_llegada }}</p>
                </div>
                <div class="tab-pane fade" id="galeria" role="tabpanel" aria-labelledby="galeria-tab">
                    {% if actividad.imagenes or fotos_visitas %}
                    <div class="row">
                        {% for imagen in actividad.imagenes %}
                        <div class="col-md-4 mb-3">
                            <img src="{{ url_for('main.get_actividad_image', id=imagen.id) }}" class="img-fluid rounded-lg object-cover shadow-sm" alt="Imagen de {{ actividad.nombre }}">
                        </div>
                        {% endfor %}
                        {% for foto in fotos_visitas %}
                            <div class="col-md-4 mb-3">
                                <img src="{{ url_for('main.get_foto_visita', id=foto.id) }}" class="img-fluid rounded-lg object-cover shadow-sm" alt="Foto de visita">
                            </div>
                        {% endfor %}
                    </div>
                    {% else %}
                        <p>No hay imágenes adicionales disponibles.</p>
                    {% endif %}
                </div>

                <div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="faq-tab">
                    <h3>Preguntas Frecuentes</h3>
                    <div class="faq-item">
                        <h5><strong>¿Qué incluye el precio del tour?</strong></h5>
                        <p>El precio incluye el transporte desde el punto de encuentro, guías profesionales, equipo grupal e individual, y todas las comidas durante la actividad.</p>
                    </div>
                    <div class="faq-item">
                        <h5><strong>¿Es necesario tener experiencia previa en actividades al aire libre?</strong></h5>
                        <p>No es necesario tener experiencia previa. La actividad está diseñada para ser accesible para todos los niveles de habilidad.</p>
                    </div>
                    <div class="faq-item">
                        <h5><strong>¿Qué debo llevar conmigo?</strong></h5>
                        <p>Recomendamos llevar ropa cómoda y adecuada para el clima, una botella de agua, protector solar, y cualquier medicación personal que pueda necesitar.</p>
                    </div>
                    <div class="faq-item">
                        <h5><strong>¿Hay alguna restricción de edad?</strong></h5>
                        <p>La actividad es adecuada para personas de todas las edades. Sin embargo, los niños menores de 12 años deben estar acompañados por un adulto.</p>
                    </div>
                    <div class="faq-item">
                        <h5><strong>¿Qué pasa si llueve?</strong></h5>
                        <p>La actividad se realizará independientemente de las condiciones climáticas, a menos que haya un aviso de seguridad. En caso de cancelación, se reprogramará para otra fecha.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para registrar visita -->
<div class="modal fade" id="registerVisitModal" tabindex="-1" role="dialog" aria-labelledby="registerVisitModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="{{ url_for('main.ver_actividad', id=actividad.id) }}" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="modal-header">
                    <h5 class="modal-title" id="registerVisitModalLabel">Registrar Visita</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group d-none">
                        <label for="actividadNombre">Actividad</label>
                        <input type="text" id="actividadNombre" class="form-control" value="{{ actividad.nombre }}" readonly>
                        {{ form.actividad_id(class="form-control", style="display: none;") }}
                    </div>
                    <div class="form-group">
                        {{ form.fecha_visita.label }} {{ form.fecha_visita(class="form-control", max=date.today().isoformat()) }}
                    </div>
                    <div class="form-group">
                        {{ form.valoracion.label }}
                        <div class="form-group">
  {{ form.valoracion.label }}
  <div class="form-group m-6">
    <div class="star-rating">
      {% for i in range(5, 0, -1) %}
        <input type="radio" id="star{{ i }}" name="valoracion" value="{{ i }}" {% if form.valoracion.data == i %}checked{% endif %}/>
        <label for="star{{ i }}" title="{{ i }} estrellas"></label>
      {% endfor %}
    </div>
  </div>
</div>
                    </div>
                    <div class="form-group">
                        {{ form.reseña.label }} {{ form.reseña(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.fotos.label }} {{ form.fotos(class="form-control-file") }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Registrar Visita</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('#registerVisitModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Botón que disparó el modal
        var actividadId = button.data('actividad-id'); // Extraer info de atributos data-*
        var actividadNombre = button.data('actividad-nombre');

        // Actualizar los campos en el modal
        var modal = $(this);
        modal.find('.modal-body #actividadNombre').val(actividadNombre);
        modal.find('.modal-body input[name="actividad_id"]').val(actividadId);
    });
</script>



<style>
    .carousel-inner img {
        height: 400px;
    }
    .tab-content {
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        border-top: none;
        border-radius: 0 0 5px 5px;
    }
    .nav-tabs .nav-link {
        border-radius: 0;
        color: black;  /* Cambiar el color de las letras a negro */
    }
    .nav-tabs .nav-link.active {
        border: 1px solid #dee2e6;
        border-bottom-color: #f8f9fa;
    }
    .d-flex div span:first-child {
        width: 50%;
        font-weight: bold;
    }
    .d-flex div span:last-child {
        width: 50%;
        text-align: right;
    }
    .custom-nav-tabs .nav-link {
        color: black !important;
    }
    .star-rating {
  display: inline-block;
  font-size: 0;
  position: relative;
  direction: ltr;
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating label {
  color: #ddd;
  font-size: 2rem;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  transition: color 0.2s;
}

.star-rating label::before {
  content: "★";
}

.star-rating input[type="radio"]:checked ~ label {
  color: #f7d106;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #f7d106;
}

.star-rating input[type="radio"]:checked + label ~ label {
  color: #ddd;
}

/* Add this to reverse the order of the labels */
.star-rating label {
  float: right;
}

.star-rating input[type="radio"]:checked ~ label {
  color: #f7d106;
}

.star-rating input[type="radio"]:checked ~ label ~ label {
  color: #ddd;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #f7d106;
}

.star-rating input[type="radio"]:checked + label ~ label {
  color: #f7d106;
}

</style>
{% endblock %}
